* {
    padding: 0;
    margin: 0;
    
}

h1 h2 h3 h4 h5 h6 {
    margin: 0;
    padding: 0;
}

header {
    background: #292C35;
}

header nav {
    width: 40%;
    margin: auto;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: #F8952F;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
}

header nav ul li a:hover {
    color: aqua;
    transition: .4s;
}

/* <!-- header item end --> */

/* <!-- banner sart start --> */

.banner {
    background-image: url(../images/banner_2.jpg);
    min-height: 93vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner_content {
    text-align: center;

}

.banner_content h1 {
    color: #F8952F;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(255, 81, 0);
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;


}





.banner_content p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;

}

.banner_content button {
    background-color: #292C35;
    border: none;
    border: 1px solid #292C35;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 10px;
}

.banner_content button a {
    color: #F8952F;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;


}

.banner_content button a:hover {
    transition: .4s;
    color: aqua;


}

/* <!-- banner psart end --> */

section {
    background-image: url(../images/banner_4.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: 900px;
    background-repeat: no-repeat;
    position: relative;
    background-color: #3b3b3b;
    padding: 20px 20px;
}

.form_wrapper {
    max-width: 50%;
    margin: auto;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.wrapper h1 {
    color: #ff9900;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

.wrapper h1:hover {
    color: rgb(87, 87, 87);
    transition: .4s;
}

.wrapper form {
    text-align: center;

}

.wrapper form input {
    width: 50%;
    margin: auto;
    border: none;
    padding: 10px 0 10px 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: #b6b6b6;
    outline: none;
}

.wrapper form input[type="submit"] {
    width: auto;
    padding: 0;
    padding: 10px 20px;
    margin-top: 10px;
    color: #ffffff;
    background-color: #363634;
    text-transform: capitalize;

}

.wrapper form input:hover {
    color: rgb(255, 174, 0);
    transition: .4s;
    cursor: pointer;

}